<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>one</title>
    <link rel="stylesheet" href="css/grid.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/media.css">
    <link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">
  </head>

  <body>
    <div class="container">
     <section class="row">
       <section class="col-12 a">A</section>
     </section>

     <section class="row">
       <section class="col-8 b">B</section>
       <section class="col-4 c">C</section>
     </section>
    </div>
  </body>
</html>
