@media all and (max-width: 768px) {

  .container {
      border-right: 20px solid #FFF;
      margin: 10px;
  }

  [class*= "col-"] {
    margin-top: 10px;
  }

  .a {
    height: 300px;
    width: 100%;
  }

  .b {
    border-right: none;
    height: 400px;
    width: 100%;
  }

  .c {
    height: 300px;
    width: 100%;
  }
}

@media all and (max-width: 414px) {

  .container {
      border-right: 20px solid #FFF;
      margin: 10px;
  }

  [class*= "col-"] {
    margin-top: 10px;
  }

  .a {
    height: 200px;
    width: 100%;
  }

  .b {
    border-right: none;
    height: 300px;
    width: 100%;
  }

  .c {
    height: 200px;
    width: 100%;
  }
